.header__lang-link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(24 / 1280 * 100vw);
    line-height: 117%;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .header__lang-link {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: calc(18/320 * 100vw);
        line-height: 111%;
    }
}