.places {
    /*max-width: 984px;*/
    /*min-height: 3392px;*/
    max-width: calc(984/1280 * 100vw);
    /*min-height: calc(3392/1280 * 100vw);*/
    /*margin: 92px auto 0 auto;*/
    margin: calc(92/1280 * 100vw) auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(80/1280 * 100vw);
}

@media screen and (max-width: 1279px) {
    .places {
        max-width: 984px;
        margin: 92px auto 0 auto;
        gap: 80px;
    }
}

@media screen and (max-width: 1183px) {
    .places {
        max-width: calc(928/1024 * 100vw);
        margin: calc(92/1024 * 100vw) calc(48/1024 * 100vw) 0 calc(48/1024 * 100vw);
    }
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: calc(720/768 * 100vw);
        /*min-height: calc(2808/768 * 100vw);*/
        gap: calc(73/768 * 100vw);
        margin: calc(88/768 * 100vw) calc(24/768 * 100vw) 0 calc(24/768 * 100vw);
    }
}

@media screen and (max-width: 767px){
    .places {
        max-width: 100%;
        /*min-height: calc(2808/320 * 100vw);*/
        margin: calc(88/320 * 100vw) 0 0 0;
        gap: calc(50/320 * 100vw);
    }
}

