.header__links {
    display: flex;
    list-style: none;
    gap: 0 18px;
    text-decoration: none;
    padding: 0;
    align-items: center;
    margin: 0;
}


@media screen and (max-width: 767px){
    .header__lang-link {
        font-size: 18px;
        line-height: 111%;
    }
}