.header__links {
    display: flex;
    list-style: none;
    gap: 0 calc(18/1280 * 100vw);
    text-decoration: none;
    padding: 0;
    align-items: center;
    margin: 0 0 0 auto;
}

@media screen and (max-width: 1279px) {
    .header__links {
        gap: 0 18px;
    }
}
