.header__links {
    display: flex;
    list-style: none;
    /*gap: 0 18px;*/
    gap: 0 calc(18/1280 * 100vw);
    text-decoration: none;
    padding: 0;
    align-items: center;
    margin: 0 0 0 auto;
}


@media screen and (max-width: 767px){
    .header__lang-link {
        font-size: calc(18/320 * 100vw);
        line-height: 111%;
    }
}