.place {
    /*max-width: 984px;*/
    /*min-height: 660px;*/
    display: grid;
    /*grid-template-columns: 460px 1fr;*/
    grid-template-columns: calc(460/1280 * 100vw) 1fr;
    /*gap: 48px 40px;*/
    gap: calc(48/1280 * 100vw) calc(40/1280 * 100vw);
    /*grid-template-rows: repeat(2,1fr);*/
}

@media screen and (max-width: 1279px) {
    .place {
        gap: calc(48/1024 * 100vw) calc(32/1024 * 100vw);
        grid-template-columns: calc(440/1024 * 100vw) 1fr;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        gap: calc(48/768 * 100vw) calc(28/768 * 100vw);
        grid-template-columns: calc(340/768 * 100vw) 1fr;
    }

}

@media screen and (max-width: 767px) {
    .place {
        gap: calc(32/320 * 100vw);
        grid-template-columns: 1fr;
    }
}