.place__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    /*font-size: 72px;*/
    font-size: calc(72/1280 * 100vw);;
    line-height: 106%;
    color: #FFFFFF;
    /*max-width: 460px;*/
    max-width: calc(460/1280 * 100vw);
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1279px){
    .place__title {
        max-width: 440px;
    }

}

@media screen and (max-width: 1023px){
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 110%;
    }
}

@media screen and (max-width: 767px){

}
