.cover__subtitle {
    font-family: 'Inter';
    font-weight: 400;
    /*font-size: 18px;*/
    font-size: calc(18/1280 * 100vw);
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    /*margin: 32px 412px 245px 412px;*/
    margin: calc(32/1280 * 100vw) auto calc(245/1280 * 100vw) auto;
    /*max-width: 360px;*/
    /*min-height: 66px;*/
    max-width: calc(360/1280 * 100vw);
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1279px){
    .cover__subtitle {
        /*margin: 32px 332px 195px 332px;*/
        margin: calc(32/1024 * 100vw) auto calc(195/1024 * 100vw) auto;

    }
}

@media screen and (max-width: 1023px){
    .cover__subtitle {
        /*margin: 32px 204px 115px 204px;*/
        margin: calc(32/768 * 100vw) auto calc(115/768 * 100vw) auto;

    }
}

@media screen and (max-width: 767px){
    .cover__subtitle {
        font-size: calc(14/320 * 100vw);
        line-height: 114%;
        /*margin: 16px 16px 33px 16px;*/
        margin: calc(16/320 * 100vw) auto calc(33/320 * 100vw) auto;
        max-width: calc(288/320 * 100vw);
        min-height: calc(48/320 * 100vw);
    }
}

