.header__logo {
    /*max-width: 176px;*/
    max-width: calc(176 / 1280 * 100vw);
    min-height: calc(52 / 1280 * 100vw);
    margin: 0 0 0 0;
    align-items: center;
}

@media screen and (max-width: 1279px){
    .header__logo {
        margin: 0 675px 0 0;
    }
}

@media screen and (max-width: 1023px){
    .header__logo {
        margin: 0 467px 0 0;
    }
}

@media screen and (max-width: 767px){
    .header__logo {
        max-width: 142px;
        min-height: 42px;
        margin: 0 84px 0 0;
    }
}
