.header {
    /*max-width: 1184px;*/
    max-width: calc(1184/1280 * 100vw);
    /*min-height: 52px;*/
    min-height: calc(52 / 1280 * 100vw);
    /*margin: 28px 48px 0 48px;*/
    margin: calc(28/1280 * 100vw) calc(48/1280 * 100vw) 0 calc(48/1280 * 100vw);
    display: flex;
}


@media screen and (max-width: 1279px){
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px){
    .header {
        max-width: 720px;
        margin: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 767px){
    .header {
        max-width: 288px;
        min-height: 42px;
        margin: 16px 16px 0 16px;
    }
}




