.footer__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    /*flex-basis: 460px;*/
}

@media screen and (max-width: 1279px){

}

@media screen and (max-width: 1023px){

}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 100%;
    }
}