.place__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*gap: 80px;*/
    gap: calc(80/1280 * 100vw);
}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px) {
    .place__list {
        gap: calc(72/768 * 100vw);
    }
}

@media screen and (max-width: 767px) {
    .place__list {
        gap: calc(50/320 * 100vw);
    }
}