.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /*font-size: 14px;*/
    font-size: calc(14/1280 * 100vw);
    line-height: 114%;
    text-align: right;
    color: #FFFFFF;
    margin: 0 0 0 auto;
    /*min-width: 186px;*/
    /*min-height: 16px;*/
    max-width: calc(186/1280 * 100vw);
    padding: 0;
}

@media screen and (max-width: 1279px){

}

@media screen and (max-width: 1023px){

}

@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 100%;
        margin: 48px 0 0 0;
        text-align: left;
    }
}

