.lead__image {
    max-width: calc(984/1280 * 100vw);
    margin: calc(64/1280 * 100vw) 0 0 0;
    position: relative;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 1279px){
    .lead__image {
        max-width: calc(928/1024 * 100vw);
        min-height: calc(580/1024 * 100vw);
        margin: 56px 0 0 0;
    }
}

@media screen and (max-width: 1023px){
    .lead__image {
        max-width: 100%;
        min-height: calc(480/768 * 100vw);
    }

}

@media screen and (max-width: 767px){
    .lead__image {
        min-height: calc(200/320 * 100vw);
        margin: calc(40/320 * 100vw) 0 0 0;
    }
}