.intro__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /*font-size: 16px;*/
    font-size: calc(16/1280 * 100vw);
    line-height: 163%;
    color: #FFFFFF;
    max-width: calc(690/1280 * 100vw);
    min-height: calc(208/1280 * 100vw);
    /*max-width: 690px;*/
    /*margin: 40px 0 0 0;*/
    margin: calc(40/1280 * 100vw) 0 0 0;
}


@media screen and (max-width: 1279px){

}

@media screen and (max-width: 1023px){

}

@media screen and (max-width: 767px){
    .intro__text {
        min-width: 288px;

    }
}