.cover {
    max-width: 1184px;
    /*margin: 0 48px 0 48px;*/
}

.cover__link {
    min-height: 740px;
    background-image: url('../../images/cover-trains.jpg');
    display: flex;
    background-size: cover;
    text-decoration: none;
    flex-direction: column;
    position: relative;
}

.cover__link:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
}


.cover__link:hover:after {
    opacity: 0.8;

}

.cover__title {
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
    text-align: center;
    margin: 245px 312px 0 312px;
    max-width: 560px;
    /*padding: 0;*/
    z-index: 1;
    position: relative;
}

.cover__subtitle {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    margin: 32px 412px 245px 412px;
    max-width: 360px;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1279px){
    .cover {
        max-width: 1024px;
    }
    .cover__link {
        min-height: 640px;
    }
    .cover__title {
        margin: 195px 232px 0 232px;
    }
    .cover__subtitle {
        margin: 32px 332px 195px 332px;
    }
}

@media screen and (max-width: 1023px){
    .cover {
        max-width: 768px;
    }
    .cover__link {
        min-height: 480px;
    }
    .cover__title {
        margin: 115px 104px 0 104px;
    }
    .cover__subtitle {
        margin: 32px 204px 115px 204px;
    }
}

@media screen and (max-width: 767px){
    .cover {
        max-width: 320px;
    }
    .cover__link {
        min-height: 200px;
    }
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        margin: 33px 16px 0 16px;
        max-width: 288px;
    }
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
        margin: 16px 16px 33px 16px;
        max-width: 288px;
    }

}



