.cover {
    max-width: calc(1184/1280 * 100vw);
    margin: calc(92/1280 * 100vw) auto 0 auto;
}

@media screen and (max-width: 1279px){
    .cover {
        max-width: 100%;
        margin: calc(92/1024 * 100vw) 0 0 0;
    }
}

@media screen and (max-width: 1023px){
    .cover {
        margin: calc(90/768 * 100vw) 0 0 0;
    }
}

@media screen and (max-width: 767px){
    .cover {
        margin: calc(66/320 * 100vw) 0 0 0;
    }
}



