.lead__caption {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(10/1280 * 100vw);
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    margin: calc(8/1280 * 100vw) 0 0 0;
    position: relative;
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        font-size: 10px;
        margin-top: 8px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (max-width: 767px){
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}