.cover__title {
    font-family: 'Inter', serif;
    font-weight: 900;
    /*font-size: 72px;*/
    font-size: calc(72/1280 * 100vw);
    line-height: 106%;
    color: #FFFFFF;
    text-align: center;
    /*margin: 245px 312px 0 312px;*/
    margin: calc(245/1280 * 100vw) auto 0 auto;
    /*max-width: 560px;*/
    max-width: calc(560/1280 * 100vw);
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1279px){
    .cover__title {
        /*margin: 195px 232px 0 232px;*/
        margin: calc(195/1024 * 100vw) auto 0 auto;
    }
}

@media screen and (max-width: 1023px){
    .cover__title {
        /*margin: 115px 104px 0 104px;*/
        margin: calc(115/768 * 100vw) auto 0 auto;
    }
}

@media screen and (max-width: 767px){
    .cover__title {
        font-size: calc(32/320 * 100vw);
        line-height: 109%;
        /*margin: 33px 16px 0 16px;*/
        margin: calc(33/320 * 100vw) auto 0 auto;
        max-width: calc(288/320 * 100vw);
    }
}
