.footer {
    /*max-width: 1184px;*/
    /*min-height: 18px;*/
    max-width: calc(1184/1280 * 100vw);
    min-height: calc(18/1280 * 100vw);
    /*margin: 92px 48px 24px 48px;*/
    margin: calc(92/1280 * 100vw) calc(48/1280 * 100vw) calc(24/1280 * 100vw) calc(48/1280 * 100vw);
    display: flex;
}

@media screen and (max-width: 1279px){
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px){
    .footer {
        max-width: 720px;
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 186px;
        min-height: 310px;
        margin: 64px 118px 24px 16px;
        flex-direction: column;
    }
}






