.place__website {
    max-width: 456px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 1279px){

}

@media screen and (max-width: 1023px){

}

@media screen and (max-width: 767px){

}