.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    /*font-size: 54px;*/
    font-size: calc(54/1280 * 100vw);
    line-height: 107%;
    color: #FFFFFF;
    /*min-width: 690px;*/
    /*height: 58px;*/
    max-width: calc(690/1280 * 100vw);
    min-height: calc(58/1280 * 100vw);
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1279px){
    .intro__title {
        font-size: 54px;
        max-width: 690px;
        min-height: 58px;
    }
}

@media screen and (max-width: 1023px){
    .intro__title {
        max-width: calc(720/768 * 100vw);
    }
}

@media screen and (max-width: 767px){
    .intro__title {
        max-width: calc(288/320 * 100vw);
        font-size: calc(32/320 * 100vw);
        line-height: 109%;
    }
}